<!doctype html>
<html lang="en">
{% extends "base.html"%}
{% block content %}
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'scrape/css/bootstrap.min.css' %}" type = "text/css"/>
	
	<link rel="stylesheet" href="{% static 'scrape/css/main.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'scrape/css/font-style.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'scrape/css/flexslider.css' %}" type = "text/css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

	<script type="text/javascript" src="{% static 'website/staffaddproblem.js' %}"></script>

    <script type="text/javascript" src="{% static 'scrape/js/jquery.js' %}"></script>    
    <script type="text/javascript" src="{% static 'scrape/bootstrap/js/bootstrap.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'scrape/js/lineandbars.js' %}"></script>
    
	<script type="text/javascript" src="{% static 'scrape/js/dash-charts.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/gauge.js' %}"></script>
	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="{% static 'scrape/js/noty/jquery.noty.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/top.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topLeft.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topRight.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topCenter.js' %}"></script>
	
	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="{% static 'scrape/js/noty/themes/default.js' %}"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script src="{% static 'scrape/js/jquery.flexslider.js' %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'scrape/js/admin.js' %}"></script>
      
 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

 <script>
    function showinput(id) {
        switch(id) {
        case "article":
            ch = "Article"
            question = "Enter the article URL : "
            break;
        case "product":
            ch = "Product"
            question = "Enter the product page link: "
            break;
        case "rss":
            ch = "RSS"
            question = "Enter the RSS feed link : "
            break;
        case "imageproc":
            ch = "Image"
            question = "Upload an image from your computer : "
            break;
            }

        code = ' <div class="col-lg-12"<label for="inputlg"> ' + question + ' </label><input type="text" class="form-control" name="url_input" ></div> <div class="form-group"><input type="hidden" name="url_choice" value=' + ch + '><button type="submit" value="Submit" class="btn btn-default">Submit</button>' ;  


        document.getElementById("inputfield").innerHTML = code;

      
     /*   <input type="hidden" name="url_choice" value=ch>*/
    }
  </script>       

  </head>
<body>
<br><br><br>
<div class="container">
    <div class="row">
	    <div class="heading">
	    <p>Welcome to our Dashboard!</p>
	    <br><br>
	    </div>
    </div>
    <br><br>
	
	<div class="row">   
     
    {% if subscribedModules %}
        {% for module in subscribedModules %}            
            {% include module %}            
        {%endfor%}
    
    {% endif %}
        
        
	</div>
</div><!-- /container -->		


<form action="/show_results/" method="POST">
  <div class="form-group" > 
  {% csrf_token %}
<div id="inputfield">


</div>
</form>

</body>
{% endblock %}

</html>