     		
        <div class="col-sm-3 col-lg-3">
        	<a id="imageproc" href="#" onclick="showinput(this.id)" style="text-decoration:none; color: #ffffff;">
      		<div class="dash-unit">
				<div class="thumbnail">
					<br><br>
					<img src="{% static 'scrape/img/imageprocess.jpg' %}" alt="Article" class="img-rounded"  width="100%" height="100%">
				</div><!-- /thumbnail -->
				<br>
				<br>
				<h1>Image Understanding</h1>
				<p>Know all kinds of stuff from a single snap!</p></a>
				</a>
				<br>
			</div>
   		</div>
</div>