<!doctype html>
<html lang="en">

{% block content %}
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'scrape/css/bootstrap.min.css' %}" type = "text/css"/>
	
	<link rel="stylesheet" href="{% static 'scrape/css/main.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'scrape/css/font-style.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'scrape/css/flexslider.css' %}" type = "text/css"/>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>

	<script type="text/javascript" src="{% static 'website/staffaddproblem.js' %}"></script>

    <script type="text/javascript" src="{% static 'scrape/js/jquery.js' %}"></script>    
    <script type="text/javascript" src="{% static 'scrape/bootstrap/js/bootstrap.min.js' %}"></script>


	
	<!-- NOTY JAVASCRIPT -->
	<script type="text/javascript" src="{% static 'scrape/js/noty/jquery.noty.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/top.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topLeft.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topRight.js' %}"></script>
	<script type="text/javascript" src="{% static 'scrape/js/noty/layouts/topCenter.js' %}"></script>
	
	<!-- You can add more layouts if you want -->
	<script type="text/javascript" src="{% static 'scrape/js/noty/themes/default.js' %}"></script>
    <!-- <script type="text/javascript" src="assets/js/dash-noty.js"></script> This is a Noty bubble when you init the theme-->
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script src="{% static 'scrape/js/jquery.flexslider.js' %}" type="text/javascript"></script>

    <script type="text/javascript" src="{% static 'scrape/js/admin.js' %}"></script>
      
 

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   

  	<!-- Google Fonts call. Font Used Open Sans & Raleway -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
  	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

   
  </head>
<body>


<div class="col-sm-3 col-lg-3">
 			<a id="rss" href="#" onclick="showinput(this.id)" style="text-decoration:none; color: #ffffff;">
      		<div class="dash-unit">
				<div class="thumbnail">
					<br><br>
					<img src="{% static 'scrape/img/rss.jpg' %}" alt="Article" class="img-rounded"  width="100%" height="100%">
				</div><!-- /thumbnail -->
				<br>
				<br>
				<h1>RSS</h1>
				<p style="text-align: center;">All you need to know, together in one page!</p></a>
				</a>
				<br>
			</div>
   		</div>
   	</div>


</body>
{% endblock %}
</html>
