<!DOCTYPE html>

<body>
<html lang="en">
{% extends "base.html"%}
{% block content %}
<head>
  <title>RSS Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<h2><p class="text-center" style = "margin : 30px; text-decoration: underline;">RSS Results</p></h2>
<br><br>
<div class="table-responsive">
<table class="table table-bordered">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 85%;">
    
    </colgroup>

      {%for title, summary, link in zipped_list%}
        <tr class="success">
          <td><b><i class="fa fa-certificate" style="font-size: 15px;"></i> {{title}}<b><br></td>
        </tr>
        <tr>
          <td style="font-weight:normal;"><i>{{summary}}<i><br><br>Read more at : <a href="{{link}}">{{link}}</a><br></td>
        </tr>
        
      {%endfor%}
    
  
</table>
   

</div>
{% endblock %}
</body>