<!DOCTYPE html>

<body>
<html lang="en">
{% extends "base.html"%}
{% block content %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>




<h2><p class="text-center" style = "margin : 30px; text-decoration: underline;">Product Info</p></h2>
<br><br>
<div class="table-responsive table-striped">
<table class="table table-bordered" style="font-weight:normal;">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 85%;">
    
    </colgroup>
  <tr>
    <td>Title : </td>
    <td>{{title}}</td> 
  </tr>
  
  <tr>
    <td>SKU Id : </td>
    <td>{{product_id}}</td> 
  </tr>

  <tr>
    <td>Product Image : </td>
    <td>
       <img src="{{prod_image}}" alt="IMAGE NOT FOUND" height="50%">
    </td>
  </tr>

  <tr>
    <td>Main Keywords : </td>
    <td>
        {%for word in keywords%}
        {{word}} | &nbsp;
      {%endfor%}
    </td> 
</tr>

<!--  !!!!!!!!!!!!!!!!!! MAKE CATEGORY AS SHOES, HARDWARE, CLOTHING ETC
 <tr>
    <td>Category : </td>
    <td>{{category}}</td> 
  </tr>

 
    <tr>
    <td>Product Images : </td>
    <td>
    {%for link in product_image_links%}    
    <img src="{{link}}" alt="IMAGE NOT FOUND" height="50%">
    <br>
    {% endfor %}
    </td>
  </tr>
-->
  <tr>
    <td>Price : </td>
    <td>{{price}}</td> 
  </tr>
  
    <tr>
    <td>Product Description : </td>
    <td>
    <pre style="white-space: pre-wrap;">{{product_description}}</pre>
    <!--<pre> tags are used to print in the source formatting itself  -->
    </div>
   </td>
  </tr>
   
    </tr>
    <tr>
    <td>Other Relevant Pages : </td>
    <td> 
    {%for search_result in search_results%}  
    <a href="{{search_result}}">{{search_result}}</a> 
    <br>
    {%endfor%}
    </td>
  </tr> 

  <tr>
    <td>Page URL : </td>
    <td> 
    <a href="{{main_url}}">{{main_url}}</a> 
    </td>
  </tr> 
  
  
</table>
    

</div>
{% endblock %}
</body>