<!DOCTYPE html>

<body>
<html lang="en">
{% extends "base.html"%}
{% block content %}
<head>
  <title>Results</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<!--
<head>
  <title>Chivonne Reji</title>
  <meta charset="utf-8" />
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
  
  <style type="text/css">
    html,
    body {
      height:100%
    }
  </style>
</head>
-->
<body>

<div class="panel panel-default">
  <div class="panel-body" style = "margin : 30px;text-decoration: underline;"><h2><p class="text-center" >Article Summary</p></h2></div>
</div>



<br><br>
<div class="table-responsive">
<table class="table table-bordered table-striped" style="font-weight:normal;">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 85%;">
    
    </colgroup>
  <tr>
    <td>Title : </td>
    <td>{{title}}</td> 
  </tr>
   <tr>
    <td>Date : </td>
    <td>{{date}}</td> 
   </tr>
   <tr>
    <td>Author : </td>
    <td>{{author_name}}</td> 
   </tr>
  <tr>
   
        <td>Image : </td>
        <td> 
         <div class="col-md-4 col-sm-4" style="text-align: center">

        <img src="{{icon}}" alt="IMAGE NOT FOUND" class="img-responsive" style="width:100%;
height:100%;"> 
        <br>
        </td>
     </div> 
  </tr>

   <tr>
    <td>Category : </td>
    <td>{{category}}</td> 
  </tr>
    <tr>
    <td>Keywords : </td>
    <td>
       	{%for word in keywords%}
  			{{word}} | &nbsp;
  		{%endfor%}
    </td> 
  </tr>

  <tr>
    <td>Outlinks same site : </td>
    <td>
    <p style="line-height: 18px;
    height: 54px;
    overflow: hidden;">
        {%for link in same_site_links%}
        
        <a href="{{link}}">{{link}} </a> <br>
      {%endfor%}
    </p>
    <button>More </button>
    </td> 
  </tr>
  
  <tr>
    <td>Outlinks diff site : </td>
    <td>
   <p style="line-height: 18px;
    height: 54px;
    overflow: hidden;">
        {%for link in diff_site_links%}
        <a href="{{link}}">{{link}}  <br>
      {%endfor%}
      </p>
    <button>More </button>
    </td> 
  </tr>

  <script>var count=1;</script>
    <tr>
    <td>Other Image URLS : </td>
    <td>
      <ul>
 
         {%for link in image_links%}
             {%if link != icon%}
                
                <div id="1" class="col-md-3 text-center">
                  
                  <div class = "img_unit">  
                      <img onload="displayMeta(this)" src="{{link}}" >  
                    </div> 
             
                    
                    <script>
                       function displayMeta(img)
                       {
                          var p_temp = document.getElementById(1);
                          p_temp.id = count;
                          var p = "<p> Image Height :" + img.height + "<br>Image Width: " + img.width + "</p>";
                          document.getElementById(1).insertAdjacentHTML('beforeend', p  );
                          count++;
                       }  
                    </script>
                    
                </div>
                      
              {%endif%}
          {%endfor%}
          
       </td>

  </tr>



    <tr>
    <td>Summary : </td>
    <td>{{summary}}</td> 
  </tr>
   
    </tr>
    <tr>
    <td>Other relevant pages : </td>
    <td> 
    {%for search_result in search_results%}  
    <a href="{{search_result}}">{{search_result}}</a> 
    <br>
    {%endfor%}
    </td>
  </tr> 
<tr>
    <td>Page URL : </td>
    <td> 
    <a href="{{main_url}}">{{main_url}}</a> 
    </td>
  </tr>   
  <!--
  <tr>
    <td>Links : </td>
    <td> {%for img_link in img_of_links%}  
    <img src="{{img_link}}" alt="IMAGE NOT FOUND" style="width:304px;height:228px;">
    <br>
    {%endfor%}
    </td>
  </tr> 
  -->
</table>
</div>
</body>    
<script type="text/javascript">
$('button').click(function() {
    var p = $('button').prev('p')
    var lineheight = parseInt(p.css('line-height'))
    if (parseInt(p.css('height')) == lineheight*3) {
       p.css('height','auto');
       $(this).text('Less')
    } else {
       p.css('height',lineheight*3+'px');
       $(this).text('More')
    }
});

</script>
{% endblock %}